<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k in zip(dataw['cases'],dataw['deaths'],dataw['recovered'])%}
            data.addRow([new Date({{i['year']}},{{i['month']-1}},{{i['day']}}),{{i['data']}},{{j['data']}},{{k['data']}}])
            {%endfor%}
                

            var options = {
                chart: {
                    title: 'World covid graph',
                    subtitle: 'in millions'
                },
                width: 900,
                height: 500
            };

            var chart = new google.charts.Line(document.getElementById('world_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k in zip(datai['cases'],datai['deaths'],datai['recovered'])%}
            data.addRow([new Date({{i['year']}},{{i['month']-1}},{{i['day']}}),{{i['data']}},{{j['data']}},{{k['data']}}])
            {%endfor%}
                

            var options = {
                chart: {
                    title: 'India covid graph',
                    subtitle: 'in millions'
                },
                width: 900,
                height: 500
            };

            var chart = new google.charts.Line(document.getElementById('India_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k,l in zip(datawd['cases'],datawd['deaths'],datawd['recovered'],datawd['dates'])%}
            data.addRow([new Date({{l['year']}},{{l['month']-1}},{{l['day']}}),{{i}},{{j}},{{k}}])
            {%endfor%}
                

            var options = {
                chart: {
                    title: 'World covid derrivative graph',
                    subtitle: 'in millions'
                },
                width: 900,
                height: 500
            };

            var chart = new google.charts.Line(document.getElementById('World_derrivative_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k,l in zip(dataid['cases'],dataid['deaths'],dataid['recovered'],dataid['dates'])%}
            data.addRow([new Date({{l['year']}},{{l['month']-1}},{{l['day']}}),{{i}},{{j}},{{k}}])
            {%endfor%}
                

            var options = {
                chart: {
                    title: 'World covid derrivative graph',
                    subtitle: 'in millions'
                },
                width: 900,
                height: 500
            };

            var chart = new google.charts.Line(document.getElementById('India_derrivative_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <link rel="stylesheet" href="static/css_Covid.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href={{url_for('home')}}>Home
                <hr></a>
            <a href={{url_for('analysis_sec')}}>Analysis
                <hr></a>
            <a href={{url_for('news_sec')}}>News
                <hr></a>
            <a href={{url_for('guidelines_sec')}}>Guidelines
                <hr></a>
            <a href={{url_for('about_sec')}}>About
                <hr></a>
    </div>
    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <b>Covid-19_Status</b></span>
    </div>
    <div class="tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked>
        <label for="tab-nav-1">Worldwide</label>
        <input type="radio" name="tabs" id="tab-nav-2">
        <label for="tab-nav-2">India</label>
        <div class="tabs">
            <div>
                <div id="world_chart"></div>
                <br><br>
                <div id="World_derrivative_chart"></div>
                <br><br>
            </div>
            <div>
                <div id="India_chart"></div>
                <br><br>
                <div id="India_derrivative_chart"></div>
            </div>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
        <script src="static/javascript_Covid.js"></script>
</body>

</html>