<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k in zip(dataw['cases'],dataw['deaths'],dataw['recovered'])%}
            data.addRow([new Date({{i['year']}},{{i['month']-1}},{{i['day']}}),{{i['data']}},{{j['data']}},{{k['data']}}])
            {%endfor%}
                

            var options = {
                chart: {
                    title: 'World covid graph',
                    subtitle: 'in millions',
                },
                titleTextStyle:{color:'white',bold:true},
                'chartArea': {backgroundColor:'#000000'},
                width: 900,
                height: 500,
                backgroundColor: '#000000',
                hAxis: {
                textStyle:{color: 'white'},
                },
                vAxis:{
                textStyle:{color:'white'},
                gridlines:{color:'white'},
                }
            };

            var chart = new google.charts.Line(document.getElementById('world_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k in zip(datai['cases'],datai['deaths'],datai['recovered'])%}
            data.addRow([new Date({{i['year']}},{{i['month']-1}},{{i['day']}}),{{i['data']}},{{j['data']}},{{k['data']}}])
            {%endfor%}
                

            var options = {
            chart: {
                title: 'India covid graph',
                subtitle: 'in millions',
            },
            titleTextStyle: { color: 'white', bold: true },
            'chartArea': { backgroundColor: '#000000' },
            width: 900,
            height: 500,
            backgroundColor: '#000000',
            hAxis: {
                textStyle: { color: 'white' },
            },
            vAxis: {
                textStyle: { color: 'white' },
                gridlines: { color: 'white' },
            }
        };

            var chart = new google.charts.Line(document.getElementById('India_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k,l in zip(datawd['cases'],datawd['deaths'],datawd['recovered'],datawd['dates'])%}
            data.addRow([new Date({{l['year']}},{{l['month']-1}},{{l['day']}}),{{i}},{{j}},{{k}}])
            {%endfor%}
                

            var options = {
            chart: {
                title: 'World covid Cases per day',
                subtitle: 'in thousands',
            },
            titleTextStyle: { color: 'white', bold: true },
            'chartArea': { backgroundColor: '#000000' },
            width: 900,
            height: 500,
            backgroundColor: '#000000',
            hAxis: {
                textStyle: { color: 'white' },
            },
            vAxis: {
                textStyle: { color: 'white' },
                gridlines: { color: 'white' },
            }
        };

            var chart = new google.charts.Line(document.getElementById('World_derrivative_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cases');
            data.addColumn('number', 'Deaths');
            data.addColumn('number', 'Recovered');

            {%for i,j,k,l in zip(dataid['cases'],dataid['deaths'],dataid['recovered'],dataid['dates'])%}
            data.addRow([new Date({{l['year']}},{{l['month']-1}},{{l['day']}}),{{i}},{{j}},{{k}}])
            {%endfor%}
                

            var options = {
            chart: {
                title: 'India covid cases per day',
                subtitle: 'in thousands',
            },
            titleTextStyle: { color: 'white', bold: true },
            'chartArea': { backgroundColor: '#000000' },
            width: 900,
            height: 500,
            backgroundColor: '#000000',
            hAxis: {
                textStyle: { color: 'white' },
            },
            vAxis: {
                textStyle: { color: 'white' },
                gridlines: { color: 'white' },
            }
        };

            var chart = new google.charts.Line(document.getElementById('India_derrivative_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
    <link rel="stylesheet" href="css_Covid.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <style>
        .content{
            width: 55rem;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href={{url_for('home')}}>Home
        </a>
        <hr>
        <a href={{url_for('analysis_sec')}}>Analysis
        </a>
        <hr>
        <a href={{url_for('news_sec')}}>News
        </a>
        <hr>
        <a href={{url_for('guidelines_sec')}}>Guidelines
        </a>
        <hr>
        <a href={{url_for('api_sec')}}>API
        </a>
        <hr>
        <a href={{url_for('about_sec')}}>About
        </a>
        <hr>
    </div>
    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <b>Covid-19_Status</b></span>
    </div>
    <div class="tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked>
        <label for="tab-nav-1">Worldwide</label>
        <input type="radio" name="tabs" id="tab-nav-2">
        <label for="tab-nav-2">India</label>
        <div class="tabs">
            <div align="center">
                <br><br>
                <div id="world_chart"></div>
                <div class="content">
                    <p>As we can see this chart shows the daily increase in covid cases and the ones recovery for the world
                    We can call it progress if the recovery line closes in with the cases line,but as of now we can observe 
                    that instead of converging they are diverging away from each other which makes the situation that more alarming.
                    </p>
                </div>
                <br><br><br>
                <div id="World_derrivative_chart"></div>
                <div class="content">
                    <p>
                    This chart shows the number of cases emerging per day.Even though the line keeps going up and down,
                    if we look carefully we will see that on a average the the frequency is strictly increasing but 
                    the good news is the recovery line is catching up and if this trend goes on then soon the recovery
                    line and the cases line will start converging again.
                    </p>
                </div>
                <br>
            </div>
            <div align="center">
                <br><br>
                <div id="India_chart"></div>
                <div class="content">
                    <p>This chart shows the rise in total number of cases, recovered and death due to covid in India only,
                        For now compared to the world India's situation is even worse, as the cases line is even steeper for india
                        compared to thw world average.Even though thte recovery line is also steeper, it still falls far behind cases line appears 
                        to be diverging away from the cases. As of now we can conclude has India has it worse then the world average.  </p>
                </div>
                <br><br><br>
                <div id="India_derrivative_chart"></div>
                <div class="content">
                    <p>This chart shows number of covid cases per day in India only.here we can observe that the recovery line has caught
                        up with cases several times as of now and diverged again,looking closely we can see that even though they appears far recovery 
                        line is on the way of converging with cases line which can be said as posetive news considering recent situation.   </p>
                </div>
                <br>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
    <script src="javascript_Covid.js"></script>
</body>

</html>