<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Parameter', 'stats'],
                ['Active', {{ i_total['cases']-i_total['deaths'] - i_total['recovered'] }}],
        ['Dead', {{ i_total['deaths']}}],
            ['Recovered', {{ i_total['recovered']}}]
        ]);

        var options = {
            titleTextStyle: {
                color: 'white',
                fontSize: 25
            },
            'chartArea': { 'width': '100%', 'height': '80%' },
            legend: {
                textStyle: { color: 'white' },
            },
            backgroundColor: 'transparent',

            height: 600,
            width: 700
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Parameter', 'stats'],
                ['Active', {{ w_total['cases']-w_total['deaths'] - w_total['recovered'] }}],
        ['Dead', {{ w_total['deaths']}}],
            ['Recovered', {{ w_total['recovered']}}]
        ]);

        var options = {
            titleTextStyle: {
                color: 'white',
                fontSize: 25
            },
            'chartArea': { 'width': '100%', 'height': '80%' },
            legend: {
                textStyle: { color: 'white' },
            },
            backgroundColor: 'transparent',

            height: 600,
            width: 700
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
      }
    </script>

    <title>Covid Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css_Covid.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <style>
        body {
            font-family: 'Aclonica';
            font-size: 16px;
        }
        #mySidenav{
            font-family: initial;
            font-size: initial;
        }
        #text_shadow {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-shadow: 4px 3px 0px rgb(0, 0, 0), 9px 8px 0px rgba(253, 252, 252, 0.671);
        }

        .pie{
            width: 30rem;
            margin: 0 auto;
        }

        @media screen and (max-width: 900px) {
            .updates {
                flex-direction: column;
            }

            .tabbed {
                margin-top: 30px;
            }
            
        }
    </style>
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home
        </a>
        <hr>
        <a href={{url_for('analysis_sec')}}>Analysis
        </a>
        <hr>
        <a href={{url_for('news_sec')}}>News
        </a>
        <hr>
        <a href={{url_for('guidelines_sec')}}>Guidelines
        </a>
        <hr>
        <a href={{url_for('api_sec')}}>API
        </a>
        <hr>
        <a href={{url_for('about_sec')}}>About
        </a>
        <hr>
    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; <b>Covid-19_Status</b></span>
    </div>
    <div class="tabbed">
        <input type="radio" name="tabs" id="tab-nav-1" checked>
        <label for="tab-nav-1">Worldwide</label>
        <input type="radio" name="tabs" id="tab-nav-2">
        <label for="tab-nav-2">India</label>
        <div class="tabs">
            <div>
                <div class='console-container'><span id='text'></span>
                    <div class='console-underscore' id='console'>&#95;</div>
                </div>
                <div id="piechart2" class="pie"></div>
                <center>
                    <div class="updates"
                        style="display: flex; justify-content: center; padding-bottom: 50px; margin-top: -20px;">
                        <div style="border: 1px solid white">
                            <h1 style="color: #3366CC; padding: 10px 15px;">Total Confirmed<br><br>{{w_total['cases']}}
                            </h1>
                        </div>
                        <div style="border: 1px solid white">
                            <h1 style="color: #DC3912; padding: 10px 15px;">Total Deaths<br><br>{{w_total['deaths']}}
                            </h1>
                        </div>
                        <div style="border: 1px solid white">
                            <h1 style="color: #FF9900; padding: 10px 15px;">Total
                                Recovered<br><br>{{w_total['recovered']}}</h1>
                        </div>
                    </div>
                </center>
                <table>
                    <tr>
                        <th>Country</th>
                        <th style="color: #3366CC">Confirmed</th>
                        <th style="color: #DC3912">Deaths</th>
                        <th style="color: #FF9900">Recovered</th>
                    </tr>
                    {%for i in wlist%}
                    <tr>
                        <td>{{i['country']}}</td>
                        <td>{{i['cases']}}
                            <p style="color:#3366CC ;">↑ {{i['todayCases']}}</p>
                        </td>
                        <td>{{i['deaths']}}
                            <p style="color:#DC3912 ;">↑ {{i['todayDeaths']}}</p>
                        </td>
                        <td>{{i['recovered']}}
                            <p style="color:#FF9900 ;">↑ {{i['todayRecovered']}}</p>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div>
                <h1 align="center" id="text_shadow">India Updates</h1>
                <div id="piechart" class="pie">
                </div>
                <center>
                    <div class="updates"
                        style="display: flex; justify-content: center; padding-bottom: 50px; margin-top: -20px;">

                        <div style="border: 1px solid white">
                            <h1 style="color: #3366CC; padding: 10px 15px;">Total Confirmed<br><br>{{i_total['cases']}}
                            </h1>
                        </div>
                        <div style="border: 1px solid white">
                            <h1 style="color: #DC3912; padding: 10px 15px;">Total Deaths<br><br>{{i_total['deaths']}}
                            </h1>
                        </div>
                        <div style="border: 1px solid white">
                            <h1 style="color: #FF9900; padding: 10px 15px;">Total
                                Recovered<br><br>{{i_total['recovered']}}</h1>
                        </div>
                    </div>
                </center>
                <table>
                    <tr>
                        <th>State</th>
                        <th style="color: #3366CC">Confirmed</th>
                        <th style="color: #DC3912">Deaths</th>
                        <th style="color: #FF9900">Recovered</th>
                    </tr>
                    {%for i in ilist%}
                    {%if i['state']!='Total'%}
                    <tr>
                        <td>{{i['state']}}</td>
                        <td>{{i['confirmed']}}
                            <p style="color:#3366CC ;">↑ {{i['deltaconfirmed']}}</p>
                        </td>
                        <td>{{i['deaths']}}
                            <p style="color:#DC3912 ;">↑ {{i['deltadeaths']}}</p>
                        </td>
                        <td>{{i['recovered']}}
                            <p style="color:#FF9900 ;">↑ {{i['deltarecovered']}}</p>
                        </td>

                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>
    <script src="static/javascript_Covid.js"></script>
</body>

</html>