
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
    background: black;
    color: #eee;
    font: 1em 'PT Sans', sans-serif;
    

}

.hidden {
    opacity:0;
}
.console-container {

    font-family:Khula;
    font-size:2em;
    text-align:center;
    display:block;

    color:white;
    padding-top: 2rem;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#009688;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cadddb;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding-left: 20px;
    padding-top: 18px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


* {
    box-sizing: border-box;
}

::selection {
    background-color: #009688;
}

.tabbed {

    width: 100%;
    margin-top: -20px;

}

.tabbed > input {
    display: none;
}

.tabbed > label {
    display: block;
    float: right;
    padding: 12px 20px;
    margin-right: 2px;
    cursor: pointer;
    transition: background-color .3s;
    font-size: 18px;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    background: #009688;
}

.tabs {
  background-color: black;
    clear: both;
    perspective: 600px;
}

.tabs img{
    float: right;
    padding-top: 2rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    height: 25rem;
    width: 45rem;

}
.tabs > div {
    width: 100%;
    position: absolute;
    border: 2px solid #009688;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2){
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .tabbed { width: 400px }
    .tabbed > label { display: none }
    .tabs > div {
        width: 100%;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }
    .tabs > div h2 {
        border-bottom: 2px solid #009688;
        padding-bottom: .5em;
    }
}
#retro h1 {
    color: #d7ceb2;
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    font: 70px 'BazarMedium';
    letter-spacing: 10px;
}
#retro h2{
    color: lightgoldenrodyellow;
    font-family: cursive;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}
th{
    background-color: #555353;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
